@media (max-width: 1200px) {
    .logo__text {
        font-size: 15px;
        margin-left: 10px;
    }
    .menu {
        &__link {
            font-size: 13px;
        }
    }
    .promo {
        min-height: 550px;
        padding: 25px 70px 0 70px;
        &__header {
            font-size: 32px;
            line-height: 40px;
        }
    }
    .reasons {
        min-height: 160px;
        padding: 50px 70px;
        &__subtitle {
            font-size: 16px;
            line-height: 20px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .choice {
        padding: 20px 90px;
        &__title {
            font-size: 28px;
            line-height: 43px;
        }
        &__subtitle {
            width: 510px;
            font-size: 16px;
            line-height: 30px;
        }
        &__img {
            width: 35%;
            height: 35%;
        }
        &__block {
            margin-top: 30px;
            width: 191px;
            height: 7px;
        }
        &__text {
            width: 250px;
            height: 32px;
            bottom: -7px;
            font-size: 16px;
        }
    }

    .info {
        min-height: 740px;
        padding: 60px 90px;
        &__main {
            font-size: 28px;
            line-height: 45px;
        }
        &__title {
            margin-top: 10px;
        }
        &__container {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
        }
        &__block {
            width: 350px;
            margin-bottom: 33px;
        }
        &__subtitle {
            margin-top: 8px;
            font-size: 16px;
            line-height: 18px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
        }

        &__extra {
            margin-top: 22px;
            margin-left: 50px;
            width: 230px;
            height: 10px;
        }
        &__txt {
            width: 800px;
            height: 32px;
            bottom: -4px;
            font-size: 16px;
            line-height: 30px;
        }
    }
    .mobile {
        border-radius: 0;
        min-height: 450px;
        padding: 70px 0 0 90px;
        &__container {
            display: block;
        }
        &__logo {
            display: none;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 28px;
            line-height: 40px;
        }
        &__list {
            max-width: none;
            &__info {
                font-size: 14px;
            }
        }

        &__info {
            display: none;
        }
    }
    footer {
        padding: 70px 100px 0 100px;
        min-height: 340px;
    }
    .footer {
        &__contaiter {
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 991px) {
    .menu {
        &__link {
            font-size: 9px;
            font-weight: 400;
            color: #000;
        }
    }
    .btn {
        width: 100px;
        height: 25px;
        font-size: 9px;
    }
    .promo {
        min-height: 500px;
    }
    .choice {
        min-height: 250px;
        &__img {
            width: 20%;
        }
    }
    .info__extra {
        display: none;
    }
}
@media (max-width: 767px) {
    header {
        height: 60px;
        width: 60px;
        background-color: rgba(204, 204, 204, 0);
    }
    .promo {
        min-height: 400px;
        padding: 0 70px;
        &__img {
            width: 100%;
        }
    }
    .choice__img {
        display: none;
    }
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(204, 204, 204, 0.9);
        transition: 0.6s all;
        &_active {
            left: 0;
        }
        &__item {
            border: none;
            margin: 10px 0;
        }
        &__link {
            font-size: 20px;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: rgb(0, 0, 0);
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateX(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateX(3px) rotate(45deg);
                }
            }
        }
    }
    .btn {
        width: 120px;
        height: 20px;
        font-size: 10px;
    }
    .choice {
        min-height: 174px;
        padding: 30px 50px;
        &__title {
            text-align: center;
            font-size: 25px;
            line-height: 30px;
            font-weight: 400;
            width: 100%;
        }
        &__subtitle {
            margin-top: 15px;
            text-align: center;
            width: 100%;
            font-size: 13px;
            line-height: 25px;
            font-weight: 400;
            color: #72787d;
        }
    }
    .info {
        padding: 30px 50px;
        &__main {
            margin-bottom: -15px;
            text-align: center;
            font-size: 25px;
            line-height: 20px;
            font-weight: 400;
            width: 100%;
        }
        &__title {
            margin-top: 25px;
            text-align: center;
            width: 100%;
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
            color: #72787d;
        }
    }
    .mobile {
        min-height: 550px;
    }
    footer {
        padding: 30px 20px;
        min-height: 30px;
    }
    .footer {
        &__wrapper {
            padding: 10px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 12px;
        }
        &__header {
            font-size: 14px;
            margin-bottom: 10px;
        }
        &__info {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}
@media (max-width: 575px) {
    .menu {
        width: 85%;
        &__item {
            width: 100%;
            text-align: center;
            padding: 0;
        }
        &__link {
            display: block;
        }
    }
    .btn {
        width: 100px;
        height: 20px;
        font-size: 8px;
    }
    .hamburger {
        &_active {
            span {
                &:nth-child(1) {
                    transform: translateY(5px) rotate(-45deg);
                }
                &:nth-child(3) {
                    transform: translateY(5px) rotate(45deg);
                }
            }
        }
    }
    .promo {
        min-height: 70px;
        padding: 0 10px;
        &__header {
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
        }
        &__img {
            display: none;
        }
        &__mobile {
            display: block;
            width: 75%;
        }
    }
    .reasons {
        min-height: 70px;
        padding: 30px 0 0 0;
        &__img {
            width: 25px;
            height: 25px;
            margin: 0 auto 10px;
        }
        &__subtitle {
            margin-top: 0px;
            font-size: 12px;
            line-height: 14px;
        }
        &__text {
            display: none;
        }
    }
    .info {
        padding: 30px 1px;
        &__main {
            margin-bottom: -15px;
            font-size: 17px;
            line-height: 20px;
            font-weight: 400;
        }
        &__title {
            display: none;
        }
    }
    .mobile {
        min-height: 250px;
        padding: 20px 30px;
        &__title {
            text-align: center;
            font-size: 18px;
        }
        li {
            margin-top: 15px;
            font-size: 13px;
            color: antiquewhite;
        }
        &__list {
            margin: 10px 15px;
            &__info {
                display: none;
            }
        }
    }
    .choice {
        min-height: 174px;
        padding: 30px 10px;
        &__title {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            width: 100%;
        }
        &__subtitle {
            margin-top: 16px;
            text-align: center;
            width: 100%;
            font-size: 10px;
            line-height: 20px;
            font-weight: 400;
            color: #72787d;
        }
    }
    footer {
        padding: 30px 20px;
        min-height: 30px;
    }
    .footer {
        &__logo {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        &__wrapper {
            display: none;
        }
        &__mobile {
            display: block;
            margin: 0 auto;
        }
        &__subheader {
            margin-top: 5px;
        }
        &__header {
            margin-bottom: 10px;
        }
        &__info {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}
